.package-design-box{
    background-image: linear-gradient(to top, #55bfcb, #75d0c8, #6ceaba, #00ba98, #95efe8);
    height: 500px;
    padding: 40px 20px;
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}


.input-width{
    width: 100%;
}

.button_div{
    padding-top: 50px;
}
.action{
   
    display: grid; 
    grid-template-columns: repeat(1, 8fr); 
    gap: 15px;
}
.action {
    margin-top: 10px; /* Adjust the margin value according to your preference */
  }

