<div class="container package-design-box">

    <form  [formGroup]="packageForm" (ngSubmit)="packageFormSubmit()">


        <mat-form-field appearance="fill" class="input-width col">
            <mat-label>Package Name</mat-label>
            <input matInput placeholder="ex : Goa Package" formControlName = "pckgName">
            <mat-hint style="color: red;" *ngIf = "packageForm.get('pckgName')?.touched && packageForm.get('pckgName')?.errors?.['required']">
                <small>Package Name is required.</small>
            </mat-hint>
        </mat-form-field>

        
        <mat-form-field appearance="fill" class="input-width col">
            <mat-label >Package Location</mat-label>
            <input matInput placeholder="ex: Goa" formControlName="location">
            <mat-hint style = "color: red;" *ngIf="packageForm.get('location')?.touched && packageForm.get('location')?.errors?.['required']">
                <small>Package Location is required.</small>
            </mat-hint>
        </mat-form-field>

        <div class="row">
        <mat-form-field appearance="fill" class="input-width col">
            <mat-label >Package Code</mat-label>
            <input matInput placeholder="ex:A136" formControlName="packageCode">
            <mat-hint style = "color: red;" *ngIf="packageForm.get('packageCode')?.touched && packageForm.get('packageCode')?.errors?.['required']">
                <small>Package Code is required.</small>
            </mat-hint>
            <mat-hint style = "color: red;" *ngIf="packageForm.get('packageCode')?.touched && packageForm.get('packageCode')?.errors?.['minlength']">
                <small>minimum 3 characters are required.</small>
            </mat-hint>
            <mat-hint style = "color: red;" *ngIf="packageForm.get('packageCode')?.touched && packageForm.get('packageCode')?.errors?.['maxlength']">
                <small>maximum 10 characters are required.</small>
            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-width col">
            <mat-label >Package Duration</mat-label>
            <input matInput placeholder="ex: 3 Nights/4 Days" formControlName="packageDuration">
            <mat-hint style = "color: red;" *ngIf="packageForm.get('packageDuration')?.touched && packageForm.get('packageDuration')?.errors?.['required']">
                <small>Package Duration is required.</small>
            </mat-hint>
        </mat-form-field>
        </div>

        
        <mat-form-field appearance="fill" class="input-width col">
            <mat-label >Package Price</mat-label>
            <input matInput placeholder="Enter Package Price" formControlName="price">
            <mat-hint style = "color: red;" *ngIf="packageForm.get('location')?.touched && packageForm.get('location')?.errors?.['required']">
                <small>Package Price is required.</small>
            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-width col">
            <mat-label >Spots </mat-label>
            <input matInput placeholder="ex: bagha beach, anjuna beach" formControlName="spots">
            <mat-hint style = "color: red;" *ngIf="packageForm.get('spots')?.touched && packageForm.get('spots')?.errors?.['required']">
                <small>Package Spots are required.</small>
            </mat-hint>
        </mat-form-field>

        <div class="row">
            <h6>Add image after adding the destination</h6>
            <div class="col"><input  type="file" (change)="onFileChanged($event)" accept="image/**"></div>
            <div class="col"> <button mat-raised-button type="button" color="accent" (click)="onUpload()" value="upload" class="uploadbtn">Upload Image</button></div>
    </div>
  
        <div mat-actions class="action"> 
            <button mat-raised-button color="primary" type="submit" [disabled]="!packageForm.valid">{{data ? 'update':'save'}}</button>
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        </div>

    </form>
</div>