
<div class="container hotel-design-box">

    <form  [formGroup]="hotelForm" (ngSubmit)="hotelFormSubmit()">

        
            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Hotel Name</mat-label>
                <input matInput placeholder="ex: Raju Hotels" formControlName="hotelName">
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('hotelName')?.touched && hotelForm.get('hotelName')?.errors?.['required']">
                    <small>Hotel name is required.</small>
                </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-width">
                <mat-label >Location</mat-label>
                <input matInput placeholder="ex: Jaipur" formControlName="location">
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('location')?.touched && hotelForm.get('location')?.errors?.['required']">
                    <small>location is required.</small>
                </mat-hint>
            </mat-form-field>
            
        <mat-form-field appearance="fill" class="input-width">
            <mat-label >Full Address</mat-label>
            <input matInput placeholder="ex: block-12,Jaipur,Rajasthan" formControlName="address">
            <mat-hint style = "color: red;" *ngIf="hotelForm.get('address')?.touched && hotelForm.get('address')?.errors?.['required']">
                <small>address is required.</small>
            </mat-hint>
        </mat-form-field>
        
        <div class="row">
            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Hotel Reception Number</mat-label>
                <input matInput formControlName="number">
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('number')?.touched && hotelForm.get('number')?.errors?.['required']">
                    <small>Hotel Reception Number is required.</small>
                </mat-hint>
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('number')?.touched && hotelForm.get('number')?.errors?.['minlength']">
                    <small>10 digits are required.</small>
                </mat-hint>
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('number')?.touched && hotelForm.get('number')?.errors?.['maxlength']">
                    <small>10 digits are required.</small>
                </mat-hint>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Hotel Starting Price</mat-label>
                <input matInput placeholder="ex: 2000" formControlName="startingPrice">
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('startingPrice')?.touched && hotelForm.get('startingPrice')?.errors?.['required']">
                    <small>Hotel starting price is required.</small>
                </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-width">
                <mat-label >nearby airport/station</mat-label>
                <input matInput placeholder="ex: 5km from airport/ 3km from station" formControlName="nearBy">
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('nearBy')?.touched && hotelForm.get('nearBy')?.errors?.['required']">
                    <small>nearby airport/station is required.</small>
                </mat-hint>
            </mat-form-field>
            <div class="row">
                <mat-label>Choose an Image</mat-label>
                <div class="col"><input  type="file" (change)="onFileChanged($event)" accept="image/**"></div>
                
        </div>
            
        </div>
    

    <div mat-actions class="action"> 
        <button mat-raised-button color="primary" type="submit" [disabled]="!hotelForm.valid">{{data ? 'update':'save'}}</button>
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    </div>
    </form>
</div>
