.hotel-design-box{
    background-image: linear-gradient(to top,#4cacc4, #6dcdda,#40c7c4,#39ebcb,#a4f5dd);

    padding: 20px;
    padding: 20px;

}
.input-width{
    width: 100%;
}


.button_div{
    padding: 20px;
}

.action{

    display: grid;
    grid-template-columns: repeat(2, 8fr);
    gap: 10px;
    margin-top: 10px; 
}
.image-resize {
    width: 100px;
    height: 100px;
  }
  .action {
    margin-top: 10px; /* Adjust the margin value according to your preference */
   
}
