
<div class="button_div container">
    <div class="row">
        <button class="col" (click)="clearAllForm()">Add new Hotel data</button>
        <button class="col" (click)="redirectToViewHotel()">view all hotel details</button>
    </div>
   
</div>
<div class="container hotel-design-box">

    <form  [formGroup]="hotelForm" (ngSubmit)="hotelFormSubmit()">

        
            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Hotel Name</mat-label>
                <input matInput placeholder="ex: Raju Hotels" formControlName="hotelName">
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('hotelName')?.touched && hotelForm.get('hotelName')?.errors?.['required']">
                    <small>Hotel name is required.</small>
                </mat-hint>
            </mat-form-field>
        <div class="row">
            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Hotel Location</mat-label>
                <input matInput placeholder="ex: Jaipur" formControlName="location">
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('location')?.touched && hotelForm.get('location')?.errors?.['required']">
                    <small>Hotel Location is required.</small>
                </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >State</mat-label>
                <mat-select formControlName="state">
                    <mat-option *ngFor="let val of stateNames" [value]="val">{{val}}</mat-option>
                  </mat-select>
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('state')?.touched && hotelForm.get('state')?.errors?.['required']">
                    <small>state is required.</small>
                </mat-hint>
            </mat-form-field>


        </div>
    
        <mat-form-field appearance="fill" class="input-width">
            <mat-label >Full Address</mat-label>
            <input matInput placeholder="ex: block-12,Jaipur,Rajasthan" formControlName="address">
            <mat-hint style = "color: red;" *ngIf="hotelForm.get('address')?.touched && hotelForm.get('address')?.errors?.['required']">
                <small>address is required.</small>
            </mat-hint>
        </mat-form-field>
        
        <div class="row">
            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Hotel Reception Number</mat-label>
                <input matInput placeholder="ex:" formControlName="number">
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('number')?.touched && hotelForm.get('number')?.errors?.['required']">
                    <small>Hotel Reception Number is required.</small>
                </mat-hint>
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('number')?.touched && hotelForm.get('number')?.errors?.['minlength']">
                    <small>10 digits are required.</small>
                </mat-hint>
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('number')?.touched && hotelForm.get('number')?.errors?.['maxlength']">
                    <small>10 digits are required.</small>
                </mat-hint>
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Manager Name</mat-label>
                <input matInput placeholder="ex:" formControlName="manager">
                <mat-hint style = "color: red;" *ngIf="hotelForm.get('manager')?.touched && hotelForm.get('manager')?.errors?.['required']">
                    <small>Manager Name is required.</small>
                </mat-hint>
            </mat-form-field>
        </div>


    <div mat-actions class="action"> 
        <button mat-raised-button color="primary" type="submit" [disabled]="!hotelForm.valid">save hotel</button>
    </div>
    </form>
    <div *ngIf="hotelId">
        <p>Hotel id:{{hotelId}}</p>
    </div>
</div>


<!-- room form  -->

<div class="container room-design-box">

    <form  [formGroup]="roomForm" (ngSubmit)="roomFormSubmit()">

        <div class="row">
            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Room Name</mat-label>
                <input matInput placeholder="ex: Family Suite" formControlName="roomName">
                <mat-hint style = "color: red;" *ngIf="roomForm.get('roomName')?.touched && roomForm.get('roomName')?.errors?.['required']">
                    <small>Room Name is required.</small>
                </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Room Type</mat-label>
                <mat-select formControlName="roomType">
                    <mat-option *ngFor="let val of roomTypes" [value]="val">{{val}}</mat-option>
                  </mat-select>
                <mat-hint style = "color: red;" *ngIf="roomForm.get('roomType')?.touched && roomForm.get('roomType')?.errors?.['required']">
                    <small>Room Type is required.</small>
                </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Price Per Day</mat-label>
                <input matInput placeholder="ex: Jaipur" formControlName="pricePerDay">
                <mat-hint style = "color: red;" *ngIf="roomForm.get('pricePerDay')?.touched && roomForm.get('pricePerDay')?.errors?.['required']">
                    <small>Price Per Day is required.</small>
                </mat-hint>
            </mat-form-field>
        </div>

    <div mat-actions class="action"> 
        <button mat-raised-button color="primary" type="submit" [disabled]="!roomForm.valid">Save Room</button>
    </div>
    </form>
    <div *ngIf="roomId">
        <p>Room id:{{roomId}}</p>
    </div>
</div>

<div class="container assign-design-box">
    <form  [formGroup]="assignForm" (ngSubmit)="roomAssignToHotel()">

        <div class="row">
            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Hotel id</mat-label>
                <input matInput placeholder="ex: h1" formControlName="assingHotelId">
                <mat-hint style = "color: red;" *ngIf="assignForm.get('assingHotelId')?.touched && assignForm.get('assingHotelId')?.errors?.['required']">
                    <small>Hotel id is required.</small>
                </mat-hint>
            </mat-form-field>


            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Room Id</mat-label>
                <input matInput placeholder="ex: r1" formControlName="assignRoomid">
                <mat-hint style = "color: red;" *ngIf="assignForm.get('assignRoomid')?.touched && assignForm.get('assignRoomid')?.errors?.['required']">
                    <small>Room id is required.</small>
                </mat-hint>
            </mat-form-field>
        </div>

    <div mat-actions class="action"> 
        <button mat-raised-button color="primary" type="submit" [disabled]="!assignForm.valid">Assign Room Id to Hotel</button>
    </div>
    </form>
</div>