.hotel-design-box{
    background-image: linear-gradient(to top, #55bfcb, #75d0c8, #6ceaba, #00ba98, #95efe8 );

    padding: 20px;
    padding: 20px;

}
.input-width{
    width: 100%;
}


.button_div{
    padding: 20px;
}

.action{
   
    display: grid; 
    grid-template-columns: repeat(2, 8fr); 
    gap: 10px;
}
.image-resize {
    width: 100px;
    height: 100px;
  }
  .action {
    margin-top: 10px; /* Adjust the margin value according to your preference */
  }