<!-- Hero section -->
<div class="container-fluid hero">
  <div class="card text-bg-dark ">
    <div class="card-img" alt="...">
      <img [src]="package.imageFile" class="hero-img">
    </div>
    <div class="card-img-overlay" *ngIf="package">
    <h1 class="card-title text-center">{{package.pckgName}}</h1>

    <div class="row text-center">
      <div class="spots-content">

        <ul class="spot-list ">
          <li *ngFor="let spot of package.spots.split(',')" ><i class="bi bi-geo-alt-fill" style="color: rgb(6, 140, 4);"></i> {{ spot }}</li>
        </ul>
      </div>
    </div>
  <h4 class="hero-subtitle text-center">"Discover the Uncharted Beauty of {{package.location}}"</h4>
  <i><p class="spot-heading text-center">Embark on an unforgettable journey spanning {{package.packageDuration}} of adventure and discovery.</p></i>

</div>
</div>
</div>

<br>



<!-- Hotel section(New) -->
<h2 class="additional-activity-text"><b>Choose Hotel as per your preference</b></h2>
<div class="hotel-cards ">
  <div class="hotel-card col-4" *ngFor="let hotel of filteredHotels">
    <div class="hotel-image" [style.background-image]="'url(' + hotel.imageFile + ')'" (click)="viewRoomsByHotelId(hotel.hotelId)"></div>
    <div class="hotel-info">
      <h3 class="hotel-name">{{ hotel.hotelName }}</h3>
      <p class="starting-price">Starting Price: {{ hotel.startingPrice }}</p>
      <p class="explore-text" >Explore</p>
    </div>
  </div>
</div>

<hr>
<div class="static-jargon container">
  <div class="row">
    <div class="col incusive">
      <h4>Inclusive</h4>
      <ul>
        <li>Welcome drink on arrival</li>
        <li>Wi-Fi</li>
        <li>Parking and Toll tax</li>
        <li>Meet & greet at arrival</li>
        <li>Pick and Drop at time of arrival/departure</li>
        <li>Breakfast</li>
        <li>Sightseeing by private car</li>
        <li>All tours and transfers by Personal Car is included</li>
      </ul>
    </div>
    <div class="col exclusive">
      <h4>Exclusive</h4>
      <ul>
        <li>Camera fee</li>
        <li>Alcoholic / Non- Alcoholic beverages</li>
        <li>Travel insurance</li>
        <li>5% GST</li>
        <li>Expenses caused by factors beyond our control like rail and flight delays, roadblocks, vehicle mal-functions, political disturbances etc.</li>
        <li>Tips, laundry & phone call</li>
        <li>Entrance fees to monuments and museum</li>
      </ul>
    </div>
  </div>


</div>

<hr>

<!-- Activity section -->
<b><p class="additional-activity-text">Additional Activities</p></b>
<div class="additional-activity-section">
  <div class="card1 col-md-3" *ngFor="let activity of activities">
   <img [src]="activity.imageFile" >
    <div class="card-body1">
      <h2 class="additional-activity-name">{{activity.activityName}}</h2>
      <h4 class="additional-activity-timing">Timing : {{activity.activityTiming}}</h4>
      <p class="additional-activity-description">{{activity.activityDescription}}</p>
    </div>
  </div>
</div>

<!-- Conditions section -->
<div class="conditions">
  <div class="heading">
    <p >Know Before You Go</p>
  </div>
  <div class="points">
    <ul>
      <li>Wander Quest reserves the right to rearrange or change the itinerary for reasons that are beyond control like Natural calamity, weather conditions, road block etc.</li>
      <li>Any sightseeing point which is not completed due to time constraints, traffic jam, natural calamity, travelers starting late, permits issued late or any other reason beyond control, Thrillophilia does not take the liability for a refund or a discount.</li>
      <li>ID proof is mandatory for each individual guest at the time of booking, and also upon arrival. PAN card will not be considered as a valid address proof.</li>
      <li>Air Fare / Train fare /Bus fare are not included in the package.</li>
      <li>The display prices mentioned are for minimum 2 PAX</li>
      <li>Kindly inform the operator about your flight timings prior to the date of travel.</li>
      <li>Any expense of personal nature is not included in the package.</li>
      <li>Rescheduling Policy for Private (Super Deluxe) & Hotel Specific Bookings: No modification or Rescheduling will be catered. A standard cancellation policy will be applicable for such cases.</li>
      <li>Force Majeure: In cases of force majeure events (e.g., natural disasters, political unrest, or other unforeseeable circumstances), [Wander Quest] reserves the right to reschedule Tours & treks or offer alternative itineraries to ensure the safety and well-being of clients and staff.</li>
      <li>Cancellation After Rescheduling: Clients who reschedule their tours or treks but later decide to cancel will be subject to our standard cancellation policy. Any rescheduling fees paid will be non-refundable.</li>
    </ul>
  </div>
</div>

<!-- Review section(not needed) -->
<!-- <div class="container review-form">
  <div class="row"><h3>Share Your Thoughts</h3></div>
  <div class="row">
      <div class="col-1 icon">
          <i class="bi bi-person-circle big-icon"></i>
      </div>
      <div class="col-11">
          <div class="row">
              <h5>username</h5>
          </div>
          <form class="row example-form" [formGroup]="reviewForm" (ngSubmit)="addReview()">
              <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..." formControlName="comment"></textarea>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" [disabled]="!reviewForm.valid">Comment</button>
          </form>
      </div>
  </div>
</div>
<div class="container show-review">
  <app-review [pkgAccesed]="true" [pLocation]="package?.location" [packageName]="package?.pckgName"></app-review>
</div> -->
