<div class="hero" *ngIf="package">
  <img [src]="package.imageFile" >
  <h1 class="hero-title">{{package.location}}</h1>
  <p class="hero-subtitle">"Discover the Uncharted Beauty of {{package.location}}"</p>
</div>
<br>
<button mat-raised-button color="primary" (click)="bookPackage()" class="hotelBook-btn">Book Now</button>
<section id="spots" class="spots-section">
  <div class="spot-heading-container">
    <b><p class="spot-heading">Embark on an unforgettable journey exploring the mesmerizing spots of our tour package, spanning {{package.packageDuration}} of adventure and discovery.</p></b>
  </div>
  <div class="spots-content">
    <ul class="spot-list">
      <li *ngFor="let spot of package.spots.split(',')">{{ spot }}</li>
    </ul>
  </div>
</section>
<b><p class="additional-activity-text">Hotels</p></b>

<div class="conatiner">
  <table>
    <tr *ngFor="let hotel of filteredHotels">
      <td>
        <input type="checkbox" #hotelCheckbox (change)="toggleHotelInput(hotelCheckbox.checked, hotel.hotelId)">
      </td>
      <td>
        <img [src]="hotel.imageFile" >
        <p>{{hotel.hotelName}}</p>
      </td>
      <td>
        <table>
          <thead>
            <tr>
              <th>Room Type</th>
              <th>Room Picture</th>
              <th>Price per Day</th>
              <th>Checkbox</th>
              <th>Input Field</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of hotel.rooms">
              <td>{{room.roomType}}</td>
              <td><img [src]="room.imageFile" ></td>
              <td>{{room.pricePerDay}}</td>
              <td><input type="checkbox" #checkbox (change)="toggleGuestInput(checkbox.checked, room.roomId)"></td>
              <td><input type="number" #guestInput *ngIf="checkbox.checked" placeholder="Quantity" (change)="addRoomSelection(room.roomId, +guestInput.value,checkbox.checked)"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
  
</div>




<b><p class="additional-activity-text">Additional Activities</p></b>
<div class="additional-activity-section">
  <div class="card1 col-md-3" *ngFor="let activity of activities">
   <img [src]="activity.imageFile" >
    <div class="card-body1">
      <h2 class="additional-activity-name">{{activity.activityName}}</h2>
      <h4 class="additional-activity-timing">Timing : {{activity.activityTiming}}</h4>
      <p class="additional-activity-description">Parasailing is a recreational activity where participants are towed behind a boat while attached to a parachute-like canopy, soaring above the water or land.</p>
    </div>
  </div>
</div>

<div class="conditions">
 
  <div class="heading">
    <p >Know Before You Go</p>
  </div>
 
  <div class="points">
    <ul>
      <li>Wander Quest reserves the right to rearrange or change the itinerary for reasons that are beyond control like Natural calamity, weather conditions, road block etc.</li>
      <li>Any sightseeing point which is not completed due to time constraints, traffic jam, natural calamity, travelers starting late, permits issued late or any other reason beyond control, Thrillophilia does not take the liability for a refund or a discount.</li>
      <li>ID proof is mandatory for each individual guest at the time of booking, and also upon arrival. PAN card will not be considered as a valid address proof.</li>
      <li>Air Fare / Train fare /Bus fare are not included in the package.</li>
      <li>The display prices mentioned are for minimum 2 PAX</li>
      <li>Kindly inform the operator about your flight timings prior to the date of travel.</li>
      <li>Any expense of personal nature is not included in the package.</li>
      <li>Rescheduling Policy for Private (Super Deluxe) & Hotel Specific Bookings: No modification or Rescheduling will be catered. A standard cancellation policy will be applicable for such cases.</li>
      <li>Force Majeure: In cases of force majeure events (e.g., natural disasters, political unrest, or other unforeseeable circumstances), [Wander Quest] reserves the right to reschedule Tours & treks or offer alternative itineraries to ensure the safety and well-being of clients and staff.</li>
      <li>Cancellation After Rescheduling: Clients who reschedule their tours or treks but later decide to cancel will be subject to our standard cancellation policy. Any rescheduling fees paid will be non-refundable.</li>
    </ul>

  </div>
</div>

<div class="container review-form">
  <div class="row"><h3>Share Your Thoughts</h3></div>
  <div class="row">
      <div class="col-1 icon">
          <i class="bi bi-person-circle big-icon"></i>
      </div>
      <div class="col-11">
          <div class="row">
              <h5>username</h5>
          </div>
          <form class="row example-form" [formGroup]="reviewForm" (ngSubmit)="addReview()">
          
              <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..." formControlName="comment"></textarea>
              </mat-form-field>

              <button mat-raised-button color="primary" type="submit" [disabled]="!reviewForm.valid">Comment</button>
                  
          </form>
      </div>
  </div>
</div>

<div class="container show-review">
  
  <app-review [pkgAccesed]="true" [pLocation]="package?.location" [packageName]="package?.pckgName"></app-review>
</div>
