<div class="card text-bg-dark">

<img [src]="destDetail.imageFile" class="card-img img-box" alt="...">
    <div class="card-img-overlay">
      <h1 class="card-title">{{destDetail.destName}}</h1>
      <div class="row">
        <div class="col">
          <p class="card-text">Type: {{destDetail.destType}}</p>
          <p class="card-text">Location: {{destDetail.imageLocation}}</p>
          <p class="card-text">State: {{destDetail.stateAndUTName}}</p>
        </div>
        <div class="col">
          <p class="card-text">Description: {{destDetail.imageDescription}}</p>
          <p class="card-text">Rating: {{destDetail.popularityScore}}</p>
        </div>
      </div>
    </div>
</div>

<div class="pakage-box">
  <h2>Packages for {{destDetail.imageLocation}} tour</h2>
<app-pkg-view [showHero]="false" [accessedFromOutside]="true" [state]="destDetail?.stateAndUTName" [location]="destDetail?.imageLocation" ></app-pkg-view>
</div>

<div class="hotel-box">
  <h2>Hotels near {{destDetail.imageLocation}}</h2>
<app-hotel-view [showHero]="false" [accessedFromOutside]="true" [state]="destDetail?.stateAndUTName" [location]="destDetail?.imageLocation" >
</app-hotel-view>
</div>

<div class="review-box">
  <h2>Reviews By user</h2>
</div>

<div class="container review-form">
  <div class="row"><h3>Share Your Thoughts</h3></div>
  <div class="row">
      <div class="col-1 icon">
          <i class="bi bi-person-circle big-icon"></i>
      </div>
      <div class="col-11">
          <div class="row">
              <h5>username</h5>
          </div>
          <form class="row example-form" [formGroup]="reviewForm" (ngSubmit)="addReview()">
          
              <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..." formControlName="comment"></textarea>
              </mat-form-field>

              <button mat-raised-button color="primary" type="submit" [disabled]="!reviewForm.valid">Comment</button>
                  
          </form>
      </div>
  </div>
</div>

<div class="container show-review">
  
  <app-review [destAccesed]="true" [dLocation]="destDetail.imageLocation"></app-review>
</div>