.img-box{
    height: 270px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border: none;
  
}
h2{
    text-align: center;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.pakage-box{
    margin-bottom: 30px;
    background-color: #f6f6f6;
    padding-bottom: 30px;
}

.card{
    border: none;
    border-radius: none;
}
/* ===================review=================  */
.big-icon {

    font-size: 4em;
    color: rgb(255, 166, 115);
    padding-left: 20px;
  }

.hero .card-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}

