<div class="yellow-box">
<div class="title"><h1>Destination form</h1></div>

<div class="design-box">


<form  [formGroup]="destForm" (ngSubmit)="onFormSubmit()">
<div  mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label >Destination Name</mat-label>
            <input matInput placeholder="ex: Hawa Mahal" formControlName="destName">
            <mat-hint style = "color: red;" *ngIf="destForm.get('destName')?.touched && destForm.get('destName')?.errors?.['required']">
                <small>Destination name is required.</small>
            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label >Destination Type</mat-label>
            <input matInput placeholder="ex: Mountain,sea,Forest,Religious" formControlName="destType">
            <mat-hint style = "color: red;" *ngIf="destForm.get('destType')?.touched && destForm.get('destType')?.errors?.['required']">
                <small>Destination Type is required.</small>
            </mat-hint>
        </mat-form-field>
    </div>

    <div class="row">

        <mat-form-field appearance="outline">
            <mat-label >Destination Location</mat-label>
            <input matInput placeholder="ex: Ajmer" formControlName="imageLocation">
            <mat-hint style = "color: red;" *ngIf="destForm.get('imageLocation')?.touched && destForm.get('imageLocation')?.errors?.['required']">
                <small>Image location is required.</small>
            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>State/UT</mat-label>
            <mat-select formControlName="stateAndUTName">
              <mat-option *ngFor="let val of stateNames" [value]="val">{{val}}</mat-option>
            </mat-select>
            <mat-hint style = "color: red;" *ngIf="destForm.get('stateAndUTName')?.touched && destForm.get('stateAndUTName')?.errors?.['required']">
                <small>state or UT name is required.</small>
            </mat-hint>
          </mat-form-field>
    </div>

    <div class="row">
     
        <div class="row">
            <mat-label >Choose an Image</mat-label>
                <div class="col"><input  type="file" (change)="onFileChanged($event)" accept="image/**"></div>
                
        </div>
    
        <mat-form-field appearance="outline">
            <mat-label >Rating</mat-label>
            <input matInput placeholder="ex:0 - 5" formControlName="popularityScore">
            
            <mat-hint style = "color: red;" *ngIf="destForm.get('popularityScore')?.touched && destForm.get('popularityScore')?.errors?.['required']">
                <small>Rating is required.</small>
            </mat-hint>
        </mat-form-field>
   
        
    </div>

        <mat-form-field class="text-box" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="describe the place and the experience" formControlName="imageDescription"></textarea>
            <mat-hint style = "color: red;" *ngIf="destForm.get('imageDescription')?.touched && destForm.get('imageDescription')?.errors?.['required']">
                <small>Image Description is required.</small>
            </mat-hint>
        </mat-form-field>  
</div>

<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'update':'save'}}</button>
</div>
</form>

</div>
</div>