.hero{
    height:260px;
    background-color: #076B83ff;
}
.hero-content{
    padding-top :40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-content h1{
    color: white;
    font-weight: 700;
    font-size: 3rem;
}

.hero-content h3 {
    color: white;
    font-size: 2.6rem;
    font-weight: 400;

}
.location-details{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1500px;
    background-color: azure;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
img{
    height:40vh;
    width :30vw;
    border-radius: 0.3rem;
}
.col-md-4{
    padding : 20px;
}
.filter-box input{
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    height : 35px;
  }
.filter-box{
    padding-top: 20px;
}
.filter-box ::placeholder{
    text-align: center;
    font-size: 1.2rem;
}
/* Styling for the hero section */
.hero {
  padding: 50px 0; /* Add padding top and bottom */
  background-color: #076B83; /* Change the background color */
}

/* Styling for the hero content */
.hero-content {
  text-align: center;
}

/* Styling for the search box */
.search {
  margin-top: 20px; /* Add some space between the hero content and search box */
}

/* Styling for the location details */
.location-details {
  padding-top: 50px; /* Add padding top */
  background-color: rgba(255, 255, 255, 0.921); /* Change the background color */
}

/* Styling for the car rental location cards */
.car-rent-location-card {
  height: 100%; /* Set a fixed height for each card */
}
.search {
  position: absolute; /* Position the search bar absolutely */
  top:235px; /* Adjust the top position to move it above the blue box */
  left: 0; /* Align the search bar to the left side */
  width: 100%; /* Set the width to fill the container */
}

