
.card {
    box-shadow: 0 4px 8px rgba(205, 4, 250, 0.208);
}
.bi-person-circle {
   
    font-size: 4em; 
    color: rgb(255, 166, 115); 
    padding-left: 20px;
  }

.star__color{
    color: rgb(255, 153, 0);
  }