
.hero col{
    width: 100%;

}



.hero{
    /* height: 1080px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 80px;


    background-image: url('asset/lake.jpg');
    background-size: cover;
    background-position: center;

    height: 400px; /* Use min-height to ensure full coverage */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    overflow: hidden; /* Hide any overflowing content */
}
.home__tittle{
    /* font-size: 100px;  good for small device*/
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #FCEFE5ff;

    position: relative;



}


/* ===============the table=============== */
.card-container{

    margin-top: 20px;
    margin-bottom: 100px;

}
.example-spacer {
    flex: 1 1 auto;
  }

  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 900px;

  }
  mat-form-field {
    width: 100%;
  }



  .hide{
    display:none;
  }

 .card-start{
  background-color: #FCEFE5ff;
  border-top-left-radius: 1rem ;
  border-bottom-left-radius: 1rem;
  width: 50%;
  padding: 10px 0px 10px 0px;
  background-clip: content-box;
  border: none;
  background-size: cover;
  height: 300px;
  overflow: hidden;


 }
 .card-start img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 1rem ;

}
 .card-box-start{
  display: flex;
  background-color: #FCEFE5ff;
  border-top-right-radius: 1rem;
  margin-top: 10px;
  padding-top: 15px;
  border: none;
 }
.card-box{
  display: flex;
  background-color: #FCEFE5ff;
  border: none;
}
.card-end{
  background-color:#FCEFE5ff;

  border-bottom-right-radius: 1rem;
  display: flex;
 margin-bottom: 10px;
 border: none;
 padding-bottom: 15px;
}

.image-resize{

  height: 100px;
  width: 100px;
}

/* =============responsive============ */
@media (max-width: 990px){
  .home__tittle{
      font-size: 70px;
      padding-top: 60px;
  }



}

/* /search box changes */

.search-box {

  display: flex;

  align-items: center;

}

.search-container {

  display: flex;
  align-items: center;
}

.search-icon {
  margin-left: 8px; /* Add margin if needed */
}


/* //image  */

.explore-link {
  position: relative;
  display: inline-block;
  width: 100%;

}

.explore-link:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.433);
  border-radius: 2rem;
}

.explore-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;

}

.explore-link:hover .explore-text {
  opacity: 1;

}
.card-box-start:hover,
.card-box:hover,
.card-end:hover {
  color: #fff; /* Change the text color to white or any brighter color */
}

