<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark custom-blue">
    <div class="container-fluid">
      <a routerLink="home" routerLinkActive="active" class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="container">
          <div class="row">
                <div class="col left-start">
                  <ul class="navbar-nav">
                    
                    <li class="nav-item">
                      <a routerLink="destination" routerLinkActive="active" class="nav-link" href="#">Destinations</a>
                    </li>
      
                  </ul>
                </div>

                <div class="col space"></div>

                <div class="col right-start">
                  <ul class="navbar-nav"> 

                    <li class="nav-item">
                      <button mat-raised-button (click)="openSignupForm()" *ngIf="!loggedIn">New user</button>
                    </li>

                    <li class="nav-item">
                      <button mat-raised-button (click)="openLoginForm()" *ngIf="!loggedIn">Login</button>
                    </li>

                    <li class="nav-item">
                      <span class="user" *ngIf="loggedIn"> Namaste, {{user}} <i [matMenuTriggerFor]="beforeMenu" class="bi bi-person-circle">   

                        
                        <mat-menu class="profile-box" #beforeMenu="matMenu" xPosition="before">
                          <a routerLink="admin/addDestination" routerLinkActive="active" class="nav-link item2" *ngIf="adminIn"> Admin Pannel </a>
                          <hr *ngIf="adminIn">
                          <div class="item-reset"  (click)="openResetPass()" *ngIf="loggedIn"> Reset Password </div>
                          <hr *ngIf="loggedIn">
                          <div class="item1"  (click)="logOut()" *ngIf="loggedIn">Logout <mat-icon class="exist-box">exit_to_app</mat-icon> </div>
                          
                          </mat-menu>


                        
                      </i></span> 
                    </li >
                  
                    <button class="close-btn" type="button"  (click)="refreshPageWithReload()">
                      <b>X</b>
                    </button>
                  </ul>
                </div>
               </div> <!--end of row -->
      </div>
      </div>

    </div>
  </nav>
</div>




<div>
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="container">
    <div class="row tech-used ">
      <h4 class="footer-subtitle tech">Contact Us</h4>
        
      <div class="col-md-6">
        <li>Email : support_wanderquest@gmail.com</li>
        <li>Phone Number: +91 9000900012</li>
        <li>Address : Floor no. 5, Bulding no. 105, New Area, salt lake, Bidhannagar, West Bengal, pin 700110</li>
      </div>
      
      
    </div>
    
    <hr>
  
    <div class="row "> 
      <div class="col minorP">@Minor Project </div>
      </div>
  </div>
</div>

