.container-fluid{
    padding: 0;
}
.card{
    border:none;
   
}
.card-img{
    height: 200px;
    width: 100%;
    background-image: url('src/assets/hotel_image/Deluxe_room.jpg');
    background-size: cover;
    background-position:center;
}
.card-img-overlay{
    background-color: #0000006c;
    
}
.card-title{
    padding-bottom: 50px;
}
.hide{
    display:none;
}
.hotelBook-btn{
    height: 50px;
}