table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid black; /* Add border to all cells */
  border-radius: 5px 5px 0px 0px;
}

td img {
  max-width: 300px; /* Set maximum width for images */
  height: auto;
  display: block; /* Ensures images do not interfere with text alignment */
  margin: 0 auto; /* Centers images within table cells */
}
/* First column images */
td:first-child {
  width: calc(600px + 3px); /* Set width of the first column to be 3px more than the image width */
}

td:first-child img {
  max-width: 600px; /* Set maximum width for images in the first column */
  width: 100%; /* Ensure images fill the entire width of the cell */
}

tr:nth-child(2) td,
tr:nth-child(3) td {
  width: calc(300px + 2px);
}

p {
  margin: 5px 0;
}
button {
  background-color: blue; /* Set background color to blue */
  color: white; /* Set text color to white */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Set font size */
  cursor: pointer; /* Add cursor pointer */
  border-radius: 5px; /* Add border radius */
}

button:hover {
  background-color: green; /* Darken color on hover */
}

