.container-fluid{
    padding: 0;
}
.card{
    border:none;
   
}
.card-img{
    height: 200px;
    width: 100%;
    background-image: url('src/assets/hotel_image/Deluxe_room.jpg');
    background-size: cover;
    background-position:center;
}
.card-img-overlay{
    background-color: #0000006c;
    
}
.card-title{
    padding-bottom: 50px;
}
.hide{
    display:none;
}
.hotelBook-btn{
    height: 50px;
}

/*=========== //review ========== */
.big-icon {
   
    font-size: 4em; 
    color: rgb(255, 166, 115); 
    padding-left: 20px;
  }
.review-form{
    /* background-color: antiquewhite; */
    border-radius: 0.7rem;
    padding: 20px;
}
.review-form h3{
    text-align: center;
    padding: 20px 10px;
}
.show-review{
    margin: 20px auto;
}
