<p>hotel-view-more works!</p>
<table>
    <!-- Row with hotel name "Smile" -->
    <tr>
        <td colspan="4" style="text-align: center;">
            <h1>Hotel name: Smile</h1>
  
        </td>
    </tr>
  
    <!-- Existing rows -->
    <tr>
        <td rowspan="2">
            <img src="assets/hotel_image/Deluxe_room.jpg" alt="Image">
            <h2>Deluxe King Bed With Bathtub</h2>
            <h4><i class="fas fa-square"></i>430 sq.ft</h4>
            <h4><i class="fas fa-bed"></i>King Bed</h4>
            <p>
                <li>Mineral Water</li>
                <li>Laundry Services</li>
                <li>Air Conditioning</li>
                <li>In- room Dinner</li>
                <li>Complementory Breakfast</li>
                <li>Wi-Fi</li>
                <button>Book Now</button>
            </p>
        </td>
        <td>
            <img src="assets/hotel_image/Executive_room.jpg" alt="Image 1">
            <h4>Executive Room</h4>
            <p>
                <li>No meal include</li>
                <li>Book with 0% payment</li>
                <li>10% discount on food and soft beverages </li>
                <button>Book Now</button>
            </p>
        </td>
        <td>
            <img src="assets/hotel_image/Family_room.jpg" alt="Image 3">
            <h4>Family Room</h4>
            <p>
                <li>No meal include</li>
                <li>Book with 0% payment</li>
                <li>10% discount on food and soft beverages </li>
            </p>
            <button>Book Now</button>
        </td>
    </tr>
    <tr>
        <td>
            <img src="assets/hotel_image/suite_room.jpg" alt="Image 2">
            <h4>Suite</h4>
            <p>
                <li>No meal include</li>
                <li>Book with 0% payment</li>
                <li>10% discount on food and soft beverages </li>
            </p>
            <b>Price:2000</b>
            <button>Book Now</button>
        </td>
        <td>
            <img src="assets/hotel_image/Standard.jpg" alt="Image 4">
            <h4>Standard Room</h4>
            <p>
                <li>No meal include</li>
                <li>Book with 0% payment</li>
                <li>10% discount on food and soft beverages </li>
            </p>
            <button>Book Now</button>
        </td>
    </tr>
  </table>
  