.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  

    .outer-box{
      padding: 50px;
      height: 650px;
    
      background-color: antiquewhite;
    width: 502px;
    background-image: url('asset/reset_pass2.jpg');
    background-size: cover;
    

    }

  .tittle{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
  
  }

  .action{
    
    padding: 0px 14px 10px;
    width: 100%;
  }
  .action button{
    flex: 1;
  }

  .yellow-box{
    background-color:rgba(255, 255, 255, 0.8);;
    border-radius: 1rem;
    padding: 10px;
  }
 