<div class="container ">
    <div class="row first">
        <div class="card example_a mb-3 col-md-3 option1">
            <div class="card-body">
                <a routerLink="addDestination" routerLinkActive="active" class="nav-link" href="#">Add Destination</a>
            </div>
        </div>
        <div class="card mb-3 col-md-3 option2">
            <div class="card-body">
                <a routerLink="addDestination" routerLinkActive="active" class="nav-link" href="#">Add Hotel</a>
            </div>
        </div>
        <div class="card mb-3 col-md-3 option3">
            <div class="card-body">
                <a routerLink="addDestination" routerLinkActive="active" class="nav-link" href="#">Add Room</a>
            </div>
        </div>      
    </div>
    <div class="row second">
        <div class="card mb-3 col-md-3 option4">
            <div class="card-body">
                <a routerLink="addDestination" routerLinkActive="active" class="nav-link" href="#">Add Spot</a>
            </div>
        </div>
        <div class="card mb-3 col-md-3 option5">
            <div class="card-body">
                <a routerLink="addDestination" routerLinkActive="active" class="nav-link" href="#">Add Package</a>
            </div>
        </div>
        <div class="card mb-3 col-md-3 option6">
            <div class="card-body">
                <a routerLink="addDestination" routerLinkActive="active" class="nav-link" href="#">Add Room</a>
            </div>
        </div>      
    </div>
</div>
