<div class="container ">
    <div class="row-first">
        <div routerLink="addDestination" class="card example_a mb-3 col-md-3 option1">
            <div class="card-body">
                <a routerLinkActive="active" class="nav-link"> Destination</a>
            </div>
        </div>
        <div routerLink="viewHotel" class="card mb-3 col-md-3 option2">
            <div class="card-body">
                <a routerLinkActive="active" class="nav-link"> Hotel</a>
            </div>
        </div>
        <div routerLink="viewPackage" class="card mb-3 col-md-3 option3">
            <div class="card-body">
                <a routerLinkActive="active" class="nav-link"> Package</a>
            </div>
        </div>
        <div routerLink="viewCarRental" class="card mb-3 col-md-3 option3">
            <div class="card-body">
                <a routerLinkActive="active" class="nav-link"> Car Rental</a>
            </div>
        </div>        
    </div>
</div>
