.body{
    background-color: #bde0fe;
}
.container{
    /*border: 1px solid #076B83ff;*/
    height: 500px;
    width: 100%;
    padding-top: 150px;
    padding-left: 100px;
}
.card-body{
    height: 110px;
    display:flex;
    align-items:center;
    justify-content:center;
    
    
}
.row{
    justify-content: space-between;
    margin: 40px;

}
.option1 .option2 .option3{
    background: none;
    
}

/* .card{
    border: no;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.option1{
    background-color: #cdb4db;
}
.option2{
    background-color: #ffc8dd;
}
.option3{
    background-color: #a2d2ff;
}
.option4{
    background-color: #e5989b;
}
.option5{
    background-color: #94d2bd;
}
.option6{
    background-color: #ff4d6d;
}*/

a{
    font-size: 20px;
    font-weight: bolder;

}

.card {
    /*color: #fff !important;*/
    cursor: pointer;
    background: none;
    position: relative;
    overflow: hidden;
    border: 1px solid #076B83ff;
    text-transform: uppercase;
    text-decoration: none;
    /* padding: 20px; */
    border-radius: 10px;
    display: inline-block;
    margin: 40px;
    /*transition: all 0.2s ease 0s;*/
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .card::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: #076B83ff;
        z-index: -1;
        transition: 0.8s;

    }
    .option1::before, .option3::before{
        top: 0;
        border-radius: 0 0 50% 50%;

    }
    .option2::before{
        bottom: 0;
        border-radius:  50% 50% 0 0;

    }
    .option1:hover::before, .option3:hover::before{
        height: 180%;
    }
    .option2:hover::before{
        height: 180%;
    }


    .card:hover {
    color: #fff;
    background: #076B83ff;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    }

