<div class="grid-container">
    <!-- First Card -->
    <div class="outer-card">
      <div>
        <h2 class="adventure-heading">Adventure Sports</h2>
        <i><p>Explore the pristine waters and lush landscapes of the Andaman Islands through exhilarating adventure sports.</p></i>
        
      </div>
      <div class="images-container">
        <div class="image-container">
          <img class="image" src="Scuba Diving.jpeg" alt="Scuba Diving">
          <b><p class="image-text">Scuba Diving</p></b>
          <ul>
            <li>Scuba diving</li>
            <li>Snorkeling</li>
            <li>Parasailing</li>
            <li>Kayaking</li>
        </ul>
        </div>
        
      </div>
    </div>
  
    <!-- Second Card -->
    <div class="outer-card">
      <div>
        <h2 class="spot-heading">Spots</h2>
       <i><p>"Discover the natural wonders of Andaman's pristine beaches, lush rainforests,and vibrant coral reefs, offering a serene escape into paradise."</p></i>
        
      </div>
      <div class="images-container">
        <div class="image-container">
          <img class="image" src="Cellular Jail.jpeg" alt="Cellular Jail">
         <b> <p class="image-text">Cellular Jail</p></b>
         <ul>
          <li>Cellular Jail</li>
          <li>Neil Island</li>
          <li>Ross Island</li>
          <li>Radhanagar Beach</li>
      </ul>
        </div>
        
      </div>
    </div>
  
      <!-- Third Card -->
    <div class="outer-card">
      <div>
          <h2 class="travel-facility-heading">Travel Facility</h2>
          <i><p>"Experience seamless travel arrangements with modern transportation options and a range of accommodation choices catering to every traveler's needs in Andaman."</p></i>
  
        
      </div>
      <div class="images-container">
        <div class="image-container">
          <img class="image" src="Cruise.jpeg" alt="Cruise">
          <b><p class="image-text">Cruise</p></b>
          <ul>
            <li>Flight</li>
            <li>Cruise</li>
            <li>Bike</li>
            <li>Car</li>
        </ul>
        </div>
        
      </div>
    </div>
  
    <!-- Fourth Card -->
    <div class="outer-card">
      <div>
        <h2 class="hotel-heading">Hotel</h2>
        <i><p>"Indulge in luxurious comfort and breathtaking ocean views at Andaman's array of exquisite hotels,offering an unparalleled tropical getaway experience."</p></i>
        
      </div>
      <div class="images-container">
        <div class="image-container">
          <img class="image" src="Hotel.jpeg" alt="Hotel">
          <b><p class="image-text">Sea Blue</p></b>
          <ul>
            <li>Sea Blue</li>
            <li>Ocean Drive</li>
            <li>Dolphin</li>
            <li>Beach Paradise</li>
        </ul>
        
      </div>
    </div>
  
  </div>
