
<div class="main-body">
            
    <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="roomId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Room ID </th>
        <td mat-cell *matCellDef="let row"> {{row.roomId}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="roomType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Room Type </th>
        <td mat-cell *matCellDef="let row"> {{row.roomType}}</td>
        </ng-container>

        <ng-container matColumnDef="roomName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Room Name </th>
        <td mat-cell *matCellDef="let row"> {{row.roomName}}</td>
        </ng-container>

        <ng-container matColumnDef="pricePerDay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price Per Day</th>
        <td mat-cell *matCellDef="let row"> {{row.pricePerDay}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteRoomDetails(row.roomId)">
            <mat-icon>delete</mat-icon>
            </button>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        
    </table>
    </div>
</div>

