<div class="hero">
  <div class="container">
    <h1>Best Stays Available</h1>
    <div class="search">
      
        <div class="filter-box">
          <input type="text" [(ngModel)]="searchQuery" (input)="filterHotels(searchQuery)" placeholder="Search hotels by location">
        </div>
        
     
    </div>
  </div>
</div>


<!-- hotel cards  -->

<div class="container">


  <div class="row justify-content-center">
    <div class="col-md-4" *ngFor="let hotel of filteredHotels">
      <mat-card class="hotel-card" >
        <mat-card-header>
          <mat-card-title class="hotel-title"><h5><b>{{hotel.hotelName}}</b></h5></mat-card-title>
        </mat-card-header>
        
        <div class="hotel-img"></div>
      
        <mat-card-content class="hotel-content">
          <div class="hotel-loc">
            <i class="bi bi-geo-alt-fill"></i> {{hotel.address}} <br>
          </div>
         <div class="phone"><b><i class="bi bi-telephone-fill"></i></b> {{hotel.number}}</div><br>
          <div class="description">
            <p><i class="bi bi-check-lg"></i> Free cancellation</p>
            <p><i class="bi bi-check-lg"></i> Online Payment</p>
            <p><i class="bi bi-check-lg"></i> No prepayment needed</p>
            <p><i class="bi bi-check-lg"></i> Breakfast Available</p>

          </div>
          <div class="price">
            <h6>Starting Price:<b> &#8377;{{hotel.startingPrice}}</b></h6>
          </div>
        </mat-card-content>
        <mat-card-actions class="row action justify-content-center">
          <!-- <button mat-raised-button color="primary" (click)="  loadBookingPage()" >Book</button> -->
        
          <button mat-raised-button color="primary" (click)="viewRoomDetailByHotelId(hotel.hotelId)">View Rooms</button>
        </mat-card-actions>
      </mat-card>
      
    </div>
<!-- /// -->

<!-- /// -->

  </div>


</div>
