<div class="search container">
  <form class="search-form">
      <div class="form-row row">
          <!-- Location  -->
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Location</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <!-- Check-in Date -->
            <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Check-in Date</mat-label>
              <input matInput [matDatepicker]="checkinPicker">
              
              <mat-datepicker-toggle matIconSuffix [for]="checkinPicker"></mat-datepicker-toggle>
              <mat-datepicker #checkinPicker></mat-datepicker>
            </mat-form-field>
            </div>
            <!-- Check-out Date -->
            <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Check-out Date</mat-label>
              <input matInput [matDatepicker]="checkoutPicker">
              
              <mat-datepicker-toggle matIconSuffix [for]="checkoutPicker"></mat-datepicker-toggle>
              <mat-datepicker #checkoutPicker></mat-datepicker>
            </mat-form-field>
            </div>

          <!-- Search Button -->
          <div class="col-md-3 action">
              <button type="submit" mat-raised-button color="primary">Search</button>
          </div>
      </div>
  </form>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <mat-card class="hotel-card">
        <mat-card-header>
          <mat-card-title class="hotel-title"><h5><b>Hotel Name</b></h5></mat-card-title>
        </mat-card-header>
        
        <div class="hotel-img"></div>
      
        <mat-card-content class="hotel-content">
          <div class="hotel-loc">
            <i class="bi bi-geo-alt-fill"></i> Location name <br>
          </div>
         <div class="phone"><b><i class="bi bi-telephone-fill"></i></b></div><br>
          <div class="description">
            <p><i class="bi bi-check-lg"></i> Free cancellation</p>
            <p><i class="bi bi-check-lg"></i> Online Payment</p>
            <p><i class="bi bi-check-lg"></i> No prepayment needed</p>
            <p><i class="bi bi-check-lg"></i> Breakfast Available</p>

          </div>
          <div class="price">
            <h6>Starting Price:<b> &#8377; 500</b></h6>
          </div>
        </mat-card-content>
        <mat-card-actions class="row action justify-content-center">
          <button mat-raised-button color="primary" (click)="  loadBookingPage()" >Book</button>
        
          <button mat-raised-button color="primary" (click)="loadHotelRooms()">View Rooms</button>
        </mat-card-actions>
      </mat-card>
      
    </div>
<!-- /// -->




<!-- /// -->

  </div>


</div>
