

.container{
  padding: 20px 0px;
}
.hero{
  background-color: #076B83ff;
  height: 150px;
}
.hero h1{
  color: white;
  text-align: center;
}
/* .search but{
background-color: white;

} */
.hotel-card{
  margin-bottom: 25px;
}
.hotel-title{
padding: 10px;
}
.hotel-img{
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.action button{
  width: 90%;
 
  margin-top: 5px;
  margin-bottom: 10px;
}
.hotel-content{
  padding: 10px 20px;
}
.description{
  color: green;

}

.price{
  background-color: rgba(34, 41, 41, 0.082);
  text-align: center;
  border-radius: 0.5rem;
  padding: 10px;
  
}
.filter-box input{
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  
}
.image-resize{
  height: 100%;
  width: 100%;
  
}