<div class="hotel-container">
  <div class="hotel-card">
    <img src="assets/hotel_image/Enjoy.jpeg">
    <div class="hotel-details">
      <p><b>Hotel:</b>Enjoy</p>
      <p><b>City:</b> Delhi</p>
      <p><b>Location:</b> Mg Road</p>
      <div class="price"><h5>Starting from <br> ₹1500</h5></div>
      <div class="buttons">
        <button class="book-button">Book Now</button>
        <button class="details-button">View Details</button>
      </div>
      <div class="rating">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-half"></i>
      </div>
    </div>
  </div>

  <div class="hotel-card">
    <img src="assets/hotel_image/Happy.jpeg">
    <div class="hotel-details">
      <p><b>Hotel:</b> Happy</p>
      <p><b>City:</b> Siliguri</p>
      <p><b>Location:</b> AKT Road</p>
      <div class="price"><h5>Starting from <br> ₹1200</h5></div>
      <div class="buttons">
        <button class="book-button">Book Now</button>
        <button class="details-button">View Details</button>
      </div>
      <div class="rating">
        <div class="rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="hotel-card">
    <img src="assets/hotel_image/Heaven.jpeg">
    <div class="hotel-details">
      <p><b>Hotel:</b> Heaven</p>
      <p><b>City:</b> Srinagar</p>
      <p><b>Location:</b> Pahalgam</p>
      <div class="price"><h5>Starting from <br> ₹2000</h5></div>
      <div class="buttons">
        <button class="book-button">Book Now</button>
        <button class="details-button">View Details</button>
      </div>
      <div class="rating">
        <div class="rating">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="hotel-card">
    <img src="assets/hotel_image/life.jpeg">
    <div class="hotel-details">
      <p><b>Hotel:</b> life</p>
      <p><b>City:</b> Mumbai</p>
      <p><b>Location:</b> lamingtom Road</p>
      <div class="price"><h5>Starting from <br> ₹1400</h5></div>
      <div class="buttons">
        <button class="book-button">Book Now</button>
        <button class="details-button">View Details</button>
      </div>
      <div class="rating">
        <div class="rating">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="hotel-card">
    <img src="assets/hotel_image/Relive.jpeg">
    <div class="hotel-details">
      <p><b>Hotel:</b> Relive</p>
      <p><b>City:</b> Bangalore</p>
      <p><b>Location:</b> Ali road </p>
      <div class="price"><h5>Starting from <br> ₹3600</h5></div>
      <div class="buttons">
        <button class="book-button">Book Now</button>
        <button class="details-button">View Details</button>
      </div>
      <div class="rating">
        <div class="rating">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="hotel-card">

    <img src="assets/hotel_image/sea view.jpeg">
    <div class="hotel-details">
      <p><b>Hotel:</b> Sea View</p>
      <p><b>City:</b> Andaman</p>
      <p><b>Location:</b> havlock</p>
      <div class="price"><h5>Starting from <br> ₹1000</h5></div>
      <div class="buttons">
        <button class="book-button">Book Now</button>
        <button class="details-button">View Details</button>
      </div>
      <div class="rating">
        <div class="rating">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
        </div>
      </div>
    </div>
  </div>

</div>
