

.container{
  padding: 20px 0px;
}
.hotel-card{
  margin-bottom: 25px;
  background-color: #FCEFE5;
}
.hotel-title{
padding: 10px;
}
.hotel-img{
  background-image: url('src/assets/images/HawaMahal.jpg');
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.action button{
  width: 90%;
 
  margin-top: 5px;
  margin-bottom: 10px;
}
.hotel-content{
  padding: 10px 20px;
}
i{
  color: #703333;
}
.description{
  color: green;

}
.description i{

  color: green;
}

.price{
  background-color: rgba(248, 194, 132, 0.579);
  text-align: center;
  border-radius: 0.5rem;
  padding: 10px;
  
}



.search-form{

 
}