

.container{
  padding: 30px 0px;
}
.hero{
  background-color: #076B83ff;
  height: 150px;
}
.hero h1{
  color: rgb(255, 255, 255);
  text-align: center;
}
/* .search but{
background-color: white;

} */
.hotel-card{
  margin-bottom: 25px;
}
.hotel-title{
padding: 10px;
}
.hotel-img{
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.action button{
  width: 90%;

  margin-top: 5px;
  margin-bottom: 10px;
}
.hotel-content{
  padding: 10px 20px;
}
.description{
  color: green;

}

.price{
  background-color: rgba(34, 41, 41, 0.082);
  text-align: center;
  border-radius: 0.5rem;
  padding: 10px;

}
.filter-box input{
  width: 100%;
  border: none;
  border-radius: 0.5rem;

}
.image-resize{
  height: 100%;
  width: 100%;

}
.bi-geo-alt-fill {
  color: green; /* Color for geo-alt icon */
}

.bi-telephone-fill {
  color:green; /* Color for telephone icon */
}
/* Additional styling for individual hotel cards */
.hotel-card {
  background-color: rgba(252, 247, 247, 252); /* Background color for individual hotel cards */
  margin-bottom: 20px; /* Add margin between hotel cards */
  border-radius: 10px; /* Add border radius to hotel cards */
}

