<div class="hero" *ngIf="showHero">
  <div class="filter-box">
    <h1> Tailored Packages for Every Vacation</h1>
    <input type="text" [(ngModel)]="searchQuery" (input)="filterPackages(searchQuery)" placeholder="Search for your dream destination....." class="rounded-input">
  </div>
</div>


<div class="container"  *ngFor="let package of filteredPackages">
  <div class="image-container">

    <img [src]="package.maxNoOfBookings === package.noOfBookings ? 'assets/pkg_img/PackageSoldOut.png' : package.imageFile" class="img-size">

  </div>
  <div class="text-container">
    <div class="top-section">
      <div class="sub-section stacked-section">
        <!-- First sub-section -->
        <h2>{{package.pckgName}}</h2>
        <p><b>Location</b>: {{package.location}}</p>
        <p><b>Duration</b>: {{package.packageDuration}}</p>
        <p><i class="bi bi-check-lg"></i> Videography & Photos</p>
        <p><i class="bi bi-check-lg"></i> Welcome drink on arrival</p>
        <p><i class="bi bi-check-lg"></i> Guided tour of local attractions upon request</p>
        <p><i class="bi bi-check-lg"></i> Exclusive discounts for nearby restaurants </p>
      </div>

      <div class="sub-section stacked-section">
        <!-- Third sub-section -->
        <span class="text-center" style="font-size: 40px; color: rgb(255, 166, 0);">{{ getStarIcons(package.rating) }}</span>
        <div class="box">
          
          <h4> Starting from <br> ₹ {{package.price}}  </h4>
   
          <button *ngIf="package.maxNoOfBookings !== package.noOfBookings" (click)="viewActivitiesByPackageId(package.pckgId)"class="view-more-button">View More</button> 

        </div>
      </div>
    </div>
    <div class="bottom-section">

      <span><i class="bi bi-building-fill"></i> Hotel</span><br>
      <span><i class="bi bi-cup-hot-fill"></i> Food</span><br>
      <span><i class="bi bi-megaphone-fill"></i> Safety Guide</span><br>
      <span><i class="bi bi-globe-central-south-asia"></i> Around The World</span>
      <span><i class="bi bi-airplane-fill"></i> Flight</span>
      <span><i class="bi bi-person-walking"></i> Adventure</span><br>
    </div>
  </div>
</div>
