<div class="container">
    <div class="image-container">
      
    </div>
    <div class="text-container">
      <div class="top-section">
        <div class="sub-section stacked-section">
          <!-- First sub-section -->
          <h2>Andaman & Nicobar Island</h2>
          <p>Duration: 5 days/6 nights</p>
          <p>
            Spots: 1. Cellular Jail<br />
            2. Radhanagar Beach<br />
            3.Neil Island<br />
             4.Ross Island<br /> 
             5.Elephant Beach<br /> 
             6. Baratang Island
          </p>
          <p>Package Code: wby2345</p>
        </div>
        <div class="sub-section">
          <!-- Second sub-section -->
          <b>Place/City</b>: Andaman/Nile Island/Port Blair
        </div>
        <div class="sub-section stacked-section">
          <!-- Third sub-section -->
          <div class="box">
            Starting from <br> ₹35000 
            <button class="book-now-button">Book Now</button>
            <button routerLink="pakageViewMore" class="view-more-button">View More</button> 
          </div>
        </div>
      </div>
      <div class="bottom-section">
        <i class="fas fa-hotel"></i> Hotel
        <i class="fas fa-utensils"></i> Food
        <i class="fas fa-bullhorn"></i> Safety Guide
        <i class="fas fa-globe-asia"></i> Around The World
        <i class="fas fa-plane"></i> Flight
        <i class="fas fa-hiking"></i> Adventure
      </div>
    </div>
  </div>
