.container {
  display: flex;
  padding: 0%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 30px;
}

.image-container {
  flex: 0 0 25%;
  display: flex;
  margin: 1%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;

}



.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: x-large;
  
 
}

.top-section {
  flex-grow: 1;
  display: flex;
  font-size: x-large;
  margin-bottom: 10px;

}

.sub-section {
  flex: 1;
  padding-right: 20px;
  margin-right: 10px;
  
}

.stacked-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.stacked-section h2,
.stacked-section p {
  margin: 0;
  margin-bottom: 10px;
}

.box {
  background-color: #D3D3D3;
  color: black;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  /* Center the box in its div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.book-now-button, .view-more-button{
  background-color: #3187b5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Added margin to separate the buttons */
}

.bottom-section {
  color: #008000; 
  height: 1.2em;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: x-large;
}

.text-container p {
  margin: 0;
  margin-bottom: 5px;
}

.bottom-section span {
  margin-right:20px;
  margin-top: auto;
}

.filter-box{
  width : 500px;
  margin: 50 px;
}

.filter-box{
  height: 140px;
  width: 100%;
  background-color: #076B83;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.rounded-input::placeholder {
  text-align: center;

}

.rounded-input {
  border-radius: 10px;
  height : 30px; 
  width : 1300px;
  border: none;
}

.img-size{
  height: 250px;
  width: 100%;
  border-radius: 0.7rem;
}