
<!-- room form  -->

<div class="container room-design-box">

    <form  [formGroup]="roomForm" (ngSubmit)="roomFormSubmit()">

        <div class="row">
            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Room Name</mat-label>
                <input matInput placeholder="ex: Family Suite" formControlName="roomName">
                <mat-hint style = "color: red;" *ngIf="roomForm.get('roomName')?.touched && roomForm.get('roomName')?.errors?.['required']">
                    <small>Room Name is required.</small>
                </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Room Type</mat-label>
                <mat-select formControlName="roomType">
                    <mat-option *ngFor="let val of roomTypes" [value]="val">{{val}}</mat-option>
                  </mat-select>
                <mat-hint style = "color: red;" *ngIf="roomForm.get('roomType')?.touched && roomForm.get('roomType')?.errors?.['required']">
                    <small>Room Type is required.</small>
                </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" class="input-width col">
                <mat-label >Price Per Day</mat-label>
                <input matInput placeholder="ex: Jaipur" formControlName="pricePerDay">
                <mat-hint style = "color: red;" *ngIf="roomForm.get('pricePerDay')?.touched && roomForm.get('pricePerDay')?.errors?.['required']">
                    <small>Price Per Day is required.</small>
                </mat-hint>
            </mat-form-field>

            <div class="row">
                <div class="col"><input  type="file" (change)="onFileChanged($event)" accept="image/**"></div>
                <div class="col"> <button mat-raised-button type="button" color="accent" value="upload" class="uploadbtn">Upload Image</button></div>
        </div>
        </div>

    <div mat-actions class="action"> 
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!roomForm.valid">{{data? 'update':'save'}}</button>
       
    </div>
    </form>

</div>

