
.user-card{
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
   
}


.user-card .image{
   
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* overflow: hidden; */

}
.user-card img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */

}
.booking-link {
    margin-bottom: 20px;
    text-decoration: none; /* Remove underline */
}

.row {
    margin-top: 20px; /* Add space between buttons and link */
}

/* =======scroll bar=======  */
.booking-details{
    height: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
}


.userImg{
    object-fit: cover;
}
