<!-- <div class="booking-details">
    <div class="booking-details-header"><h5><B>Your Bookings</B></h5></div><br>
        <div class="pkg-booking-details" >
            <h6><u>Package Bookings</u></h6>
            <div>
                <div>Pakage Name: Goa Premium Package</div>
                <div><i class="bi bi-calendar-fill"></i> Date: 2024-04-29  -  2024-05-02</div>
                <div>Package Hotel Booked</div>
                <div>Raju Hotel</div>
                <div>
                    Room Details: 1 Family Room,  2 Standard Room
                </div>
        </div>
    </div>

    <br>

    <div class="hotel-booking-details">
        <h6><i class="bi bi-building-fill"></i><u> Hotel Bookings</u></h6>
        <div>
            <div>Raju Hotel</div>
            <div>
                Room Details: 1 Family Room,  2 Standard Room
            </div>
            <div><i class="bi bi-calendar-fill"></i> Date: 2024-04-29  -  2024-05-02</div>
        </div>
    </div>

    <br>

    <div class="rental-booking-detail">
        <h6><i class="bi bi-taxi-front-fill"></i><u> Car Booking Deatils</u></h6>
        <div>
            <div><i class="bi bi-calendar-fill"></i> Date : 2024-04-29  -  2024-05-02</div>
            <div><i class="bi bi-geo-alt-fill"></i> Location : Goa</div>
            <div><i class="bi bi-taxi-front-fill"></i> AC 4 Wheeler(6 seater)</div>
        </div>
    </div>
</div> -->

<div class="booking-card">
    <div class="card">
        <div class="card-header">
            <h5><b>Your Bookings</b></h5>
        </div>

        <div class="card-body">
            <div class="pkg-booking-details" *ngIf= "packageBookingDetails && packageBookingDetails.length > 0" >
                <h6><u>Package Bookings</u></h6>
                <div class="booking-item" *ngFor = "let package of packageBookingDetails">
                    <div><b> Package Name: </b>{{package.packageName}}</div>
                    <div><i class="bi bi-calendar-fill"></i> <b>Date : </b> {{package.checkInDate}} - {{package.checkOutDate}}</div>
                    <div><b>Hotel Booked : </b>{{package.hotelName}}</div>
                    <div>
                        <b>Room Details: </b><div *ngFor="let index of package.noOfRooms; let i = index">{{ package.noOfRooms[i] }} {{ package.roomTypes[i] }}</div>
                </div>
                </div>
            </div>
            <br>
            
            <div class="hotel-booking-details" *ngIf= "hotelBookingDetails && hotelBookingDetails.length > 0">
                <h6><i class="bi bi-building-fill"></i><u>Hotel Bookings</u></h6>
                <div class="booking-item" *ngFor = "let hotel of hotelBookingDetails">
                    <div><b> Hotel Name : </b>{{hotel.hotelName}}</div>
                    <div>
                        <b>Room Details: </b><div *ngFor="let index of hotel.noOfRooms; let i = index">{{ hotel.noOfRooms[i] }} {{ hotel.roomTypes[i] }}</div>
                </div>
                    <div><i class="bi bi-calendar-fill"></i><b>Date : </b>{{hotel.checkInDate}} - {{hotel.checkOutDate}}</div>
                </div>
            </div>
            <br>
            <div class="rental-booking-detail" *ngIf= "carBookingDetails && carBookingDetails.length > 0">
                <h6><i class="bi bi-taxi-front-fill"></i><u>Car Booking Deatils</u></h6>
                <div class="booking-item" *ngFor = "let car of carBookingDetails">
                    <div><i class="bi bi-calendar-fill"></i> <b>Date : </b> {{car.pickUpDate}} - {{car.dropOffDate}}</div>
                    <div><i class="bi bi-geo-alt-fill"></i> <b>Location : </b>{{car.location}}</div>
                    <div><i class="bi bi-taxi-front-fill"></i> {{car.acOrNonAc}} {{car.carType}}</div>
                </div>
            </div>
        </div>
    </div>
</div>




