<div class="booking-details">
    <div class="booking-details-header"><h5><B>Your Bookings</B></h5></div><br>
        <div class="pkg-booking-details" >
            <h6><u>Package Bookings</u></h6>
            <div>
                <div>Pakage Name: Goa Premium Package</div>
                <div>Date: 2024-04-29  -  2024-05-02</div>
                <div>Package Hotel Booked</div>
                <div>Raju Hotel</div>
                <div>
                    Room Details: 1 Family Room,  2 Standard Room
                </div>
        </div>
    </div>

    <br>

    <div class="hotel-booking-details">
        <h6><u>Hotel Bookings</u></h6>
        <div>
            <div>Raju Hotel</div>
            <div>
                Room Details: 1 Family Room,  2 Standard Room
            </div>
            <div>Date: 2024-04-29  -  2024-05-02</div>
        </div>
    </div>

    <br>

    <div class="rental-booking-detail">
        <h6><u>Car Booking Deatils</u></h6>
        <div>
            <div>Date : 2024-04-29  -  2024-05-02</div>
            <div>Location : Goa</div>
            <div>AC 4 Wheeler(6 seater)</div>
        </div>
    </div>
</div>