
.hero col{
    width: 100%;

}



.hero{
    /* height: 1080px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 80px;


    background-image: url('assets/homeBg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh; /* Use min-height to ensure full coverage */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    overflow: hidden; /* Hide any overflowing content */
}
.home__tittle{
    /* font-size: 100px;  good for small device*/
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #FCEFE5ff;
    margin-top: 12%;

}
.home__subtitle{
    text-align: center;
    color: #FCEFE5ff;
}


/*============ popluar section============= */
.popular{
    display: flex;
    margin: 30px 0px 30px 0px;


}
.img__card{
    width: 100%;
    margin-bottom: 12%;
}
.popular__title{

    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: black;
}

.star__color{
    color: orange;
}

.row button{
    width: 200px;
}

/* =================image section ============================*/

.popular__img1{
    background-image: url('assets/pkg-img.jpg');
    background-size: cover;
    background-position: center;
    height: 20rem;
   
}
.popular__img2{
    background-image: url('assets/hotel-imgOrg.jpg');
    background-size: cover;
    background-position: center;
    height: 20rem;
}
.popular__img3{
    background-image: url('assets/destination-img.jpg');
    background-size: cover;
    background-position: center;
    height: 20rem;
}
.img__card{
    margin-bottom: 5%;
}
.img__card .row{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.card{
    margin: 15px;
    padding: 0px;
}


/*=================== destination ================ */
.destination{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 460px;
    background-color: aqua;
    background-image: url('assets/ride.jpg');
    background-size: cover;
    background-position-y: 50%;
}
.destination__title{

    margin: 15px;
    font-size: 60px;
    color:#FCEFE5ff ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}
.des__title-box{
    background-color: #076B83ff ;
    height: 13rem;
    width: 47%;
    border-radius: 1rem;
    margin: auto;

}
.des__title-box p{
    color: white;
}
.des__title-box:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: 1s;

}

.btn-bd-primary{
    --bs-btn-color: #FCEFE5ff;
    --bs-btn-bg: #703333ff;
    --bs-btn-hover-bg:#f7c8a4;

}
.card-footer{
    border: none;
    text-align: center;
    background: none;
    padding-bottom: 10px;
    }

/*================== review ================== */

.review h1{
    padding: 20px 0px;
}

/*================ responsive======================= */
/* text will be 90px from screen size 0-767 */
@media (max-width:767px) {
    .home__tittle{
        font-size: 90px;
    }
    .popular__title{
        font-size: 40px;
    }
    .destination__title{
        font-size: 40px;
    }
    .des__title-box{
        margin: auto;
        width: 22rem;
        height: 12rem;

    }

}
/* ==================animations===================== */
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: 1s;
}
.home__tittle:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: 1s;
}
.location-text{
    color: rgb(156, 155, 158);
}

/* ============================== Our service ======================= */

/* Styling for the card group */

.whyUs {
margin: 30px 0px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-family: 60px;
  color: black;
}
.card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards */
}

/* Styling for each card */
.card {
  background-color: #f9f9f9; /* Set background color for the cards */
  border-radius: 20px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for card effect */
  flex: 1; /* Allow cards to grow equally within the flex container */
}

/* Styling for the card body */
.card-body {
  padding: 10px; 
}

.card-text {
  color: black;
  padding: 15px; 
}


.card1{
    background-color: rgb(253, 237, 206);
}
.card2{
    background-color: rgb(239, 249, 254);
}

.card3{
    background-color: rgb(235, 255, 233);
}