<div class="hero">
    <div class="container">
        <div class="row row-cols-1 img__box">
            <div class="col"><h1 class="home__tittle">Wander Quest</h1></div>
            <div class="col"> <h4 class="home__subtitle">Explore India's Treasures</h4></div>
            
        </div>
    </div>
    
</div>



<div #popular class="popular" id="popular">
    <div class="container">
        <div class="row"> <h1 class="popular__title">Hassle Free Bookings</h1></div>
        <div class="row">
            <div class="img__card">
                <!-- enter cards -->

                <div class="row">

                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top popular__img2"></div>
                        <div class="card-body">
                          <h5 class="card-title">Book Hotels</h5>
                          
                          <p class="card-text">Experience comfort and luxury, book your stay today and make memories that last a lifetime!</p>


                          <div class="stars">
                            <p>Hotel Booking Experience By Our User</p>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star star__color"></i>
                        </div>

                        </div>
                        <div class="card-footer">
                            
                            <div class="col"><button  type="button" (click)="openHotelViewpage()" class="btn btn-bd-primary">Book Hotels</button></div>
                        </div>
                    </div>

                    
                    <div class="card mb-3 col-md-3"> 
                        <div class="card-img-top popular__img1"></div>
                        <div class="card-body">
                          <h5 class="card-title">Book Packages</h5>
                          
                          <p class="card-text">Unlock unforgettable adventures with our curated tour packages – 
                            book your dream getaway today!</p>
                          <div class="stars">
                            <p>Package Booking Experience By Our User</p>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star star__color"></i>
                        </div>
                        </div>
                        <div class="card-footer">
                            
                            <div class="col"><button  type="button" (click)="openpkgViewpage()" class="btn btn-bd-primary">Book Packages</button></div>
                        </div>
                    </div>
    
                    
    
                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top popular__img3"></div>
                        <div class="card-body">
                          <h5 class="card-title">Explore Destinations</h5>
                          
                          <p class="card-text">Embark on a journey of discovery and explore captivating and adventurous destinations with us.</p>
                          <div class="stars">
                            <p>Destinations Experience By Our User</p>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-half star__color"></i>
                        </div>
                        </div>
                        <div class="card-footer">
                            
                            <div class="col"><button  type="button" (click)="navigateToDestination()" class="btn btn-bd-primary">Explore Destinations</button></div>
                        </div>
                    </div>
                   

                </div>
   
            </div>
            
        </div>
    </div>
</div>






<div class="destination">
    <div class="container">
        <div class="row row-cols-1">
            <div class="des__title-box">
            <div class="col"><h1 class="destination__title">Ride & Drive</h1></div>
            <p>Hit the road in style with our hassle-free car and bike rentals – adventure awaits!</p>
            <div class="col"><button (click)="navigateToDestination()" type="button" class="btn btn-bd-primary">Book Rentals</button></div>
            </div>
        </div>
    </div>

</div>

<div class="review">
    <div class="container">
        <div class="row"> <h1 class="popular__title">Review and Comments</h1></div>
        <app-review></app-review>
    </div>

</div>
