<div class="hero">
    <div class="container">
        <div class="row row-cols-1 img__box">
            <div class="col"><h1 class="home__tittle">Wander Quest</h1></div>
            <div class="col"> <h4 class="home__subtitle">Explore India's Treasures</h4></div>

        </div>
    </div>

</div>



<div #popular class="popular" id="popular">
    <div class="container">
        <div class="row"> <h1 class="popular__title">Hassle Free Bookings</h1></div>
        <div class="row">
            <div class="img__card">
                <!-- enter cards -->

                <div class="row">

                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top popular__img2"></div>
                        <div class="card-body">
                          <h5 class="card-title">Book Hotels</h5>

                          <p class="card-text">Experience comfort and luxury, book your stay today and make memories that last a lifetime!</p>


                          <div class="stars">
                            <p>Hotel Booking Experience By Our User</p>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star star__color"></i>
                        </div>

                        </div>
                        <div class="card-footer">

                            <div class="col"><button  type="button" (click)="openHotelViewpage()" class="btn btn-bd-primary">Book Hotels</button></div>
                        </div>
                    </div>


                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top popular__img1"></div>
                        <div class="card-body">
                          <h5 class="card-title">Book Packages</h5>

                          <p class="card-text">Unlock unforgettable adventures with our curated tour packages –
                            book your dream getaway today!</p>
                          <div class="stars">
                            <p>Package Booking Experience By Our User</p>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star star__color"></i>
                        </div>
                        </div>
                        <div class="card-footer">

                            <div class="col"><button  type="button" (click)="openpkgViewpage()" class="btn btn-bd-primary">Book Packages</button></div>
                        </div>
                    </div>



                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top popular__img3"></div>
                        <div class="card-body">
                          <h5 class="card-title">Explore Destinations</h5>

                          <p class="card-text">Embark on a journey of discovery and explore captivating and adventurous destinations with us.</p>
                          <div class="stars">
                            <p>Destinations Experience By Our User</p>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-half star__color"></i>
                        </div>
                        </div>
                        <div class="card-footer">

                            <div class="col"><button  type="button" (click)="navigateToDestination()" class="btn btn-bd-primary">Explore Destinations</button></div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>






<div class="destination">
    <div class="container">
        <div class="row row-cols-1">
            <div class="des__title-box">
            <div class="col"><h1 class="destination__title">Ride & Drive</h1></div>
            <p>Hit the road in style with our hassle-free car and bike rentals – adventure awaits!</p>
            <div class="col"><button (click)="navigateToCarRentals()" type="button" class="btn btn-bd-primary">Book Rentals</button></div>
            </div>
        </div>
    </div>

</div>

<div class="whyUs">
  <h1><b>Why Us</b></h1>
</div>

<div class="card-group container text-center">
    <div class="row">
  <div class="card col card1">
    <div class="card-body">
      <h4 class="card-title">Expert Guides</h4>
      <p class="card-text">Our team of expert guides sets us apart. With a deep knowledge of local history, culture, and geography, they bring each tour to life with fascinating insights and captivating stories. Whether you're exploring ancient ruins or sampling local cuisine, our guides ensure an enriching and immersive experience that leaves our customers feeling enlightened and inspired.
        Our guides aren't just experts in their fields; they're also passionate storytellers who weave together the threads of history and culture to create a tapestry of unforgettable moments. Their dedication to excellence shines through in every detail, from personalized recommendations to seamless logistics, ensuring that each journey exceeds expectations. With their keen eye for hidden gems and their commitment to authentic experiences, our guides transform every excursion into a voyage of discovery, leaving travelers with memories to cherish for a lifetime. Join us on a journey beyond the ordinary, where every step is guided by the wisdom of the past and the promise of the future.
      </p>
      </div>
  </div>

  <div class="card col card2">

    <div class="card-body">
      <h4 class="card-title">Customized Experiences</h4>
      <p class="card-text">We  that every traveler is unique, which is why we offer customized experiences tailored to your interests and preferences. Whether you're a history buff, an adventure seeker, or a foodie, we have the perfect tour for you. From private excursions to group adventures, we go above and beyond to create unforgettable memories that align with your individual tastes and desires.
        Our dedication to personalized service extends beyond the itinerary, as we meticulously curate each moment to reflect your personality and passions. With our flexible approach, you're not just a traveler; you're the architect of your own journey, crafting experiences that resonate deeply with your soul. Whether it's exploring hidden gems off the beaten path or indulging in exclusive culinary delights, we ensure that every aspect of your adventure is uniquely tailored to you. Embark on a voyage where your dreams become reality, and let us transform your wanderlust into a masterpiece of unforgettable moments.
        Embark on a voyage where your dreams become reality, and let us expertly transform your wanderlust into a masterpiece of unforgettable moments.
      </p>
    </div>

  </div>

  <div class="card col card3">

    <div class="card-body">
      <h4 class="card-title">Small Group Sizes</h4>
      <p class="card-text">Unlike large tour companies, we specialize in small group tours to provide a more personalized and intimate experience. With smaller group sizes, you'll enjoy better access to attractions, more meaningful interactions with your guide, and the flexibility to explore at your own pace. Our small group approach ensures that each customer receives the attention and care they deserve, resulting in a truly memorable journey.
        
Our commitment to small group tours allows us to delve deeper into the heart of each destination, immersing you in its essence with every step. With a focus on quality over quantity, we foster genuine connections not only between travelers but also between you and the places you visit. From sharing stories around a campfire to savoring a meal at a local family's table, our intimate group size fosters moments of authenticity and camaraderie that simply can't be replicated in larger settings. Whether you're embarking on a cultural odyssey or seeking adventure off the beaten path, our small group tours offer a sanctuary of serenity amidst the chaos of modern travel.
      </p>
  </div>
  </div>
</div>
  </div>












<!-- <div class="review">
    <div class="container">
        <div class="row"> <h1 class="popular__title">Review and Comments</h1></div>
        <app-review></app-review>
    </div>

</div> -->